body {
  overflow: hidden;
}

.sidebar-custom {
  position: absolute;
  top: 0;
  transform: translateX(100%);
  width: 30%;
  height: 100vh;
  background-color: red;
  transition: 0.3s;
}

.sidebar-custom.active {
  transform: translateX(30%);
  z-index: 100;
}
