.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  position: relative;
  margin: 3rem 0;
  border: 2px solid green;
  padding: 1.5rem;
}

.list-item::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 7rem;
  height: 2rem;
  clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
  background-color: green;
}

.list-item::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 6.4rem;
  height: 1.8rem;
  clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
  background-color: white;
}
